<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="reportUtils.ReportingUtility"/>
    </listeners>

    <test name="Regression1" parallel="methods" thread-count="2"  >
        <classes>
            <class name="testsPackage.SampleTest"></class>
        </classes>
    </test>
</suite>

